name: build

on:
  pull_request:
    paths-ignore:
      - README.md
  push:
    branches:
      - main
    paths-ignore:
      - README.md

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        image:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Docker Build
        run: docker build . --tag test-image
        working-directory: ${{ matrix.image }}

      - name: Update README.md (without git push)
        run: |
          docker run -v $GITHUB_WORKSPACE:/work test-image bash -c "cd /work/${{ matrix.image }}; ./update-readme.sh"
